%h1 My Borrows
- if @borrow_requests.length == 0 && @borrow_approvals.length == 0 && @borrow_checkouts.length == 0
  %h4 No good stuff to borrow? Check out what your friends are lending or invite some new friends :)

- if @borrow_requests.length > 0
  %h3 BORROW requests
  %ul
    - @borrow_requests.each do |share|
      %li
        = link_to image_tag(share.item.image.url(:thumb)), item_path(share.item.id)
        = link_to share.item.name, item_path(share.item.id)
        %ul
          %li= "owner: " + share.item.user.name
          %li= "from: " + share.start_on.to_date.strftime("%m/%d/%Y") + " to " + share.end_on.to_date.strftime("%m/%d/%Y")
          %li= link_to "cancel request", update_share_path(share_id: share.id, update_type: "canceled"), { method: "put", controller: "shares" }, confirm: "Are you sure you don't want to cancel this request?"

- if @borrow_approvals.length > 0
  %h3 BORROW approvals
  %ul
    - @borrow_approvals.each do |share|
      %li
        = link_to image_tag(share.item.image.url(:thumb)), item_path(share.item.id)
        = link_to share.item.name, item_path(share.item.id)
        %ul
          %li= "owner: " + share.item.user.name
          %li= "from: " + share.start_on.to_date.strftime("%m/%d/%Y") + " to " + share.end_on.to_date.strftime("%m/%d/%Y")
          %li= link_to "cancel request", update_share_path(share_id: share.id, update_type: "canceled"), { method: "put", controller: "shares" }, confirm: "Are you sure you don't want to cancel this request?"

- if @borrow_checkouts.length > 0
  %h3 BORROW checkouts
  %ul
    - @borrow_checkouts.each do |share|
      %li
        = link_to image_tag(share.item.image.url(:thumb)), item_path(share.item.id)
        = link_to share.item.name, item_path(share.item.id)
        %ul
          %li= "owner: " + share.item.user.name
          %li= "from: " + share.start_on.to_date.strftime("%m/%d/%Y") + " to " + share.end_on.to_date.strftime("%m/%d/%Y")
