%ul{id: "myTab", class: "nav nav-tabs"}
  %li
    %a{ "href" => "#shares", "data-toggle"=> "tab"}= "My Shares"
  %li
    %a{"href" => "#borrows", "data-toggle"=> "tab"}= "My Borrows"

%div{class: "tab-content"}
  %div{id: "shares", class: "tab-pane"}
    - if @all_shares.length == 0
      %h4 It looks like no one has requested to share with you. Why not invite some friends or add some more items?
    %div{class: "accordion", id:"accordion1"}
      - [["Requests for My Items", "requests", :pending], ["Rentals Approved By Me", "approvals", :approved], ["Currently Rented Out Items", "checkouts", :checkedout]].each_with_index do |(group_title, share_type, share_status), index|
        %div{class: "accordion-group"}
          %div{class: "accordion-heading"}
            - collapse_id = "collapse#{index + 1}"
            %a{class: "accordion-toggle", "data-toggle"=> "collapse", "data-parent"=> "#accordion1", "href"=> "##{collapse_id}"}
              = group_title
            %div{id: collapse_id, class: "accordion-body collapse"}
              %div{class: "accordion-inner"}
              = render partial: "shares/share_category", locals: { shares: all_shares.where(status: share_status), kind: "share", type: share_type }

  %div{id: "borrows", class: "tab-pane"}
    - if @all_borrows.length == 0
      %h4 Nothing good to borrow? Check out what your friends are lending or invite some new friends :)
    %div{class: "accordion", id:"accordion4"}
      %div{class: "accordion-group"}
        %div{class: "accordion-heading"}
          %a{class: "accordion-toggle", "data-toggle"=> "collapse", "data-parent"=> "#accordion4", "href"=> "#collapse4"}
            = "My Item Requests"
          %div{id: "collapse4", class: "accordion-body collapse"}
            %div{class: "accordion-inner"}
            = render partial: "shares/share_category", locals: { shares: all_borrows.where(status: :pending), kind: "borrow", type: "requests" }
      %div{class: "accordion-group"}
        %div{class: "accordion-heading"}
          %a{class: "accordion-toggle", "data-toggle"=> "collapse", "data-parent"=> "#accordion4", "href"=> "#collapse5"}
            = "Rentals I've Been Approved For"
          %div{id: "collapse5", class: "accordion-body collapse"}
            %div{class: "accordion-inner"}
            = render partial: "shares/share_category", locals: { shares: all_borrows.where(status: :approved), kind: "borrow",  type: "approvals" }
      %div{class: "accordion-group"}
        %div{class: "accordion-heading"}
          %a{class: "accordion-toggle", "data-toggle"=> "collapse", "data-parent"=> "#accordion4", "href"=> "#collapse6"}
            = "Items I am Currently Borrowing"
          %div{id: "collapse6", class: "accordion-body collapse"}
            %div{class: "accordion-inner"}
            = render partial: "shares/share_category", locals: { shares: all_borrows.where(status: :checkedout), kind: "borrow",  type: "checkouts" }
