%h1 My Shares
- if @share_requests.length == 0 && @share_approvals.length == 0 && @share_checkouts.length == 0
  %h4 It looks like no one has requested to share with you. Why not invite some friends or add some more items?

- if @share_requests.length > 0
  %h3 SHARE requests
  %ul
    - @share_requests.each do |share|
      %li
        = link_to image_tag(share.item.image.url(:thumb)), item_path(share.item.id)
        = link_to share.item.name, item_path(share.item.id)
        %ul
          %li= "requester: " + share.borrower.name
          %li= "from: " + share.start_on.to_date.strftime("%m/%d/%Y") + " to " + share.end_on.to_date.strftime("%m/%d/%Y")
          %li= link_to "approve", update_share_path(share_id: share.id, update_type: "approved"), { method: "put", controller: "shares" }
          %li= link_to "deny", update_share_path(share_id: share.id, update_type: "denied"), { method: "put", controller: "shares" }, confirm: "Are you sure you don't want to share with " + share.borrower.name + "?"

- if @share_approvals.length > 0
  %h3 SHARE approvals
  %ul
    - @share_approvals.each do |share|
      %li
        = link_to image_tag(share.item.image.url(:thumb)), item_path(share.item.id)
        = link_to share.item.name, item_path(share.item.id)
        %ul
          %li= "requester: " + share.borrower.name
          %li= "from: " + share.start_on.to_date.strftime("%m/%d/%Y") + " to " + share.end_on.to_date.strftime("%m/%d/%Y")
          %li= link_to "picked up", update_share_path(share_id: share.id, update_type: "checkedout"), { method: "put", controller: "shares" }

- if @share_checkouts.length > 0
  %h3 SHARE checkouts
  %ul
    - @share_checkouts.each do |share|
      %li
        = link_to image_tag(share.item.image.url(:thumb)), item_path(share.item.id)
        = link_to share.item.name, item_path(share.item.id)
        %ul
          %li= "borrower: " + share.borrower.name
          %li= "from: " + share.start_on.to_date.strftime("%m/%d/%Y") + " to " + share.end_on.to_date.strftime("%m/%d/%Y")
          %li= link_to "returned", update_share_path(share_id: share.id, update_type: "returned"), { method: "put", controller: "shares" }
