%h1 Share Overview

- if @share.status == "returned" && @share.item.user == current_user
  - if @feedback.size == 0
    %h4= link_to "Review your borrower", new_review_path(share_id: @share.id)

= render partial: "share_basic_info"

= render partial: "share_details"

- if @share.status == "pending" || @share.status == "approved" || @share.status == "checkedout"
  - if @share.item.user == current_user || @share.borrower = current_user
    %h4= link_to "Update share details", edit_share_path(@share.id)

- if @share.status == "returned" && @feedback.size > 0
  %h3= "Feedback"
  %p= "Stars: " + @feedback[0].stars.to_s
  - unless @feedback[0].comment == nil || @feedback[0].comment == ""
    %p= "Comments on borrow: " + @feedback[0].comment

