%h1 Share Information Page
%h1= @share.item.name

%h3
  = link_to image_tag(profile_picture_path(@share.item.user)), user_path(@share.item.user)
  = @share.item.user.name
  = "is sharing with"
  = link_to image_tag(profile_picture_path(@share.borrower)), user_path(@share.borrower)
  = @share.borrower.name

%h5= @share.item.category.name

= image_tag @share.item.image.url(:medium)

%p= @share.item.description

- if @share.item.color != ""
  %p= "color: " + @share.item.color

- if @share.item.size != ""
  %p= "size: " + @share.item.size

%p= "start: " + @share.start_on.to_date.strftime("%m/%d/%Y")
%p= "end: " + @share.end_on.to_date.strftime("%m/%d/%Y")
