- if (current_user == @user) || is_friend?(@user)
  - if current_user == @user
    = render partial: "user_profile"

  - else
    = render partial: "friend_profile"

  %h4= "Karma " + @user.points.to_s + "ॐ"
  - if current_user == @user
    = link_to "Add a new item", new_item_path(@user), class: "btn button-small"

  %p Collection:
  %ul
    - @items.each do |item|
      %li
        - if item.image_file_name != nil
          = link_to image_tag(item.image.url(:small), class: "holy img-polaroid"), item_path(item.id)
        = link_to item.name, item_path(item.id), class: "caption"

- else
  = render partial: "non_friend_profile"

