- if current_user == @user
  %h2 My Collection
  = image_tag @profile_picture
  %h4= "I saved $"
  %h4= "I saved my friends $"

- else
  %h2= @user.name + "'s Collection"
  = image_tag @profile_picture
  %h4= @user.name + " saved $"
  %h4= @user.name + " saved thier friends $"

%h4= "Total karma points:"

- if current_user == @user
  = link_to "Add a new item", new_item_path(@user)

%p My items:
%ul
  - @items.each do |item|
    %li
      - if item.image_file_name != nil
        = link_to image_tag(item.image.url(:small)), item_path(item.id)
      = link_to item.name, item_path(item.id)

