%h3= @item.name

- if @item.image_file_name != nil
  = image_tag @item.image.url(:medium)

%p= @item.description

- if @item.color != ""
  %p= "color: " + @item.color

- if @item.size != ""
  %p= "size: " + @item.size
