%h2 Item edit

= form_for @item, url: { action: "update" }, html: { multipart: true } do |f|
  %p Item
  = f.text_field :name, placeholder: "required", value: @item.name
  %p Description
  = f.text_area :description, placeholder: "required", value: @item.description
  %p Image
  = image_tag @item.image.url(:thumb)
  = f.file_field :image
  %p Category
  - Category.all.each do |c|
    = f.radio_button :category_id, c.id
    = c.name
    %br
  %br
  %p Size
  = f.text_field :size, placeholder: "optional", value: @item.size
  %p Color
  = f.text_field :color, placeholder: "optional", value: @item.color
  %br
  = f.submit "Update!"
