%h2 Item edit

= form_for @item, url: { action: "update" }, html: { multipart: true } do |f| 
  = f.text_field :name, placeholder: "Item", value: @item.name
  %br
  = f.text_area :description, placeholder: "Description", value: @item.description
  %br
  = f.text_field :size, placeholder: "Size", value: @item.size
  %br
  = f.text_field :color, placeholder: "Color", value: @item.color
  %br
  = f.file_field :image 
  = f.submit "Edit!"
