<!DOCTYPE html>
<html lang="en">
<head>
  <title>anatta.ly</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
  <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
  });
  </script>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

</head>
	<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <nav>
            <ul class="nav pull-left" id="links">
              <li><%=link_to "Anatta.Ly", root_path %></li>
              <% if current_user %>
                <li><%=link_to "My Friends", friends_path%></li>
                <li><%=link_to "My Shares", shares_path%></li>
                <li><%=link_to "My Items", user_path(current_user)%></li>
                <li><%= link_to "Shareables", categories_path  %></li>
              <% end %>

            </ul>
            <% if current_user %>
              <p class="nav pull-right"><%= link_to "Sign out", signout_path, id: "sign_out", class: "btn btn-small
                                  btn-primary" %></p>
              <p class="nav pull-right"><strong> Hello, <%= link_to current_user.name, user_path(current_user) %>! <%= "(" + current_user.points.to_s + "à¥)" %></strong></p>
            <% end %>
            <span class="nav pull-right">
              <% if current_user %>
              <% else %>
                <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-small
                 btn-primary" %>
              <% end %>
            </span>
            <span class="nav pull-center">
              <% if current_user %>
                 <%= form_tag root_path, method: 'get' do %>
                   <%=  text_field_tag :search, params[:search] %>
                 <%= submit_tag "Find Items", name: nil, class: "btn btn-small
                                  btn-primary"%>
                 <% end %>
               <% end %>
             </span>
          </nav>
        </div>
      </div>
    </header>
    <div class="container container-body">
      <% flash.each do |name, msg| %>
			<%= content_tag :div, msg, id: "flash_#{name}" %>
			<% end %>
      <%= yield %>
    </div>
      <footer>
        <p>Anatta-ly &copy; 2013 Karma Productions</p>
      </footer>
	</body>
</html>
