<!DOCTYPE html>
<html lang="en">
<head>
  <title>anatta.ly</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag 'gmaps4rails' %>
  <%= javascript_include_tag "application" %>
  <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
  <%= csrf_meta_tags %>
  <script>
  $(function() {
    $( ".datepicker" ).datepicker({
      dateFormat: "yy-mm-dd"
    });
  });
  </script>
  <meta charset="utf-8" />
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />

</head>
	<body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <nav>
            <span class="nav pull-right">
              <% if current_user %>
                <span class="nav pull-right">Hello, <%= link_to current_user.name, user_path(current_user) %>! <%= "(" + current_user.points.to_s + "à¥)" %></span>
              <% else %>
                <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-small
                 btn-primary" %>
              <% end %>
            </span>
            <ul class="nav" id="links">
              <% if current_user %>
                <li><%=link_to "Available Items", root_path %></li>
                <li><%=link_to "My Items", user_path(current_user)%></li>
              <li><%= link_to "Sign out", signout_path, id: "sign_out" %></li>
            </ul>
            <% end %>

          </nav>
        </div>
      </div>
    </header>
    <div class="container-body">
      <% flash.each do |name, msg| %>
			<%= content_tag :div, msg, id: "flash_#{name}" %>
			<% end %>
      <%= yield %>
    </div>
      <footer>
        <p>AnattaLy &copy; 2013 Dev BootKarma Productions</p>
      </footer>
	</body>
</html>
